/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
@media screen and (max-width: 640px) {
	.layer {
		padding-left: 25px !important;
		padding-right: 25px !important;
	}
	.footer-bottom-right,
	.footer-bottom-left,
	.header-mark, .header-right {
		width: 100% !important;
		float: left !important;
		text-align: left !important; 
	}
	.footer-bottom-right {
		padding-top: 20px;
	}
	.header-mark {
		background-color: transparent;
		margin-left: 0 !important;
		text-align: center !important;
		margin: 0 !important;
		padding-left: 0 !important
	}
	.header-right {
		padding-top: 0 !important;
	}
	.header-right .text-right {
		text-align: center !important;
	}
	.section-our-testimonials .col-md-2-10 {
		width: 100% !important;
	}
	.section-our-services h2, .section-our-testimonials h2, .section-message h2 {
		font-size: 42px !important;
	}
	.section-our-testimonials,
	.section-message {
		padding-bottom: 50px;
	}
	.section-our-services {
		padding-bottom: 20px;
	}
	.section-our-testimonials {
		padding-top: 20px;
	}
	.section-message h2 {
		margin-top: 0;
	}
	.section-message p {
		font-size: 26px;
	}
	.section-our-services ul {
		font-size: 22px !important;
	}
	.section-our-mission .mission-mark {
		margin-right: 0 !important;
	}
	.section-our-mission .mission-left {
		padding-right: 15px !important;
	}
	.section-form-quotes-right {
		padding-right: 0 !important;
	}
	.section-about-me-mark {
	    background: rgba(0, 0, 0, 0.5);
	    margin-left: -10px;
	    padding-left: 25px;
	    padding-right: 25px;
	}
}
@media screen and (max-width: 736px) {
	.header-mark,
	.header-right {
		width: 50%;
		float: left;
	}
	.header-mark {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.header-right {
		padding-top: 25px;
	}
	.section-about-me-mark,
	.section-form-quotes-right .panel {
		width: 100%;
		float: left;	
	}
	.section-form-quotes-right .panel {
		width: 100%;
		margin-top: -140px;
	}
	.section-our-mission, .section-about-me {
	    padding-top: 30px;
	    padding-right: 0px;
	}
	section#section-about-me .row {
		margin-right: -35px !important;
	}
	section#section-about-me .myname {
		right: 0
	}
	.mission-left{
		padding-right: 50px; 
	}
	.mission-mark {
		margin: 0 50px 20px 0!important;
	}
	.footer-bottom-right {
		width: 50%;
	}
	.footer-bottom-left {
		float: left;
	}
}
/* Small devices (tablets, 768px and up) */
@media screen and (max-width: 768px) {
	#web {
	    width: 100%;
	    padding: 0;
	}
    
    .header-logo img {
        width: 250px;
    }
    .header-right-box-center .header-right-title {
        font-size: 20px;
    }
    .header-right-box-center .header-right-phone,
    .header-right-box-center .header-right-phone a{
        font-size: 45px;
    }
    .section-about-me {
        padding-top: 0;
    }
    .section-form-quotes-right .panel .panel-heading {
        font-size: 28px;
    }
    .section-form-quotes-right .panel {
        width: 90%;
    }
    .section-form-quotes-right .panel .btn {
        font-size: 24px;
    }
    .section-form-quotes-right, .section-about-left {
        padding-bottom: 0;
    }
    .section-about-left .about-me img {
        height: 300px;
    }
    .section-about-left .about-me .myname {
        bottom: 190px;
        right: -35px;
        font-size: 24px;
    }
    .section-about-left .about-me .myname .about-green-text {
        font-size: 28px;
    }
    .section-our-mission .mission-left h2 {
        font-size: 34px;
    }
    .section-our-mission .mission-mark h2 {
        font-size: 52px;
        line-height: 1.1;
    }
    .section-our-mission .mission-mark-right {
        font-size: 16px;
    }
    .section-our-services h2,
    .section-our-testimonials h2,
    .section-message h2 {
        font-size: 48px;
    }
    .section-our-services ul {
        font-size: 26px;
    }
    .section-our-services ul li {
        margin-bottom: 15px;
    }
    .section-our-testimonials .col-md-2-10 {
        width: 50%;
    }
    .footer-bottom-logo img {
        width: 200px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}