
@font-face {
  font-family: 'FrizQuadrataStd-Regular';
  src: url('FrizQuadrataStd-Regular.eot?#iefix') format('embedded-opentype'),  url('FrizQuadrataStd-Regular.otf')  format('opentype'),
	     url('FrizQuadrataStd-Regular.woff') format('woff'), url('FrizQuadrataStd-Regular.ttf')  format('truetype'), url('FrizQuadrataStd-Regular.svg#FrizQuadrataStd-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FrizQuadrataStd-Bold';
  src: url('FrizQuadrataStd-Bold.eot?#iefix') format('embedded-opentype'),  url('FrizQuadrataStd-Bold.otf')  format('opentype'),
	     url('FrizQuadrataStd-Bold.woff') format('woff'), url('FrizQuadrataStd-Bold.ttf')  format('truetype'), url('FrizQuadrataStd-Bold.svg#FrizQuadrataStd-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HorsebackSlab-Bold';
  src: url('HorsebackSlab-Bold.eot?#iefix') format('embedded-opentype'),  url('HorsebackSlab-Bold.woff') format('woff'), url('HorsebackSlab-Bold.ttf')  format('truetype'), url('HorsebackSlab-Bold.svg#HorsebackSlab-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
